<%= render "layouts/errors", :object => @message %>


<%= form_tag (messages_path) do %>

  <div class="form-inputs form-group">
    <%= text_field_tag "to" %>
    <%= select_tag "to_collection", options_from_collection_for_select(@contacts, "phonenumber", "name"), include_blank: true %>
    <%= text_field_tag "from", "5412482591" %>
    <%= text_area_tag "body" %>
  </div>
  <div class="form-actions">
    <%= submit_tag "Send Cat Fact" %>
  </div>
<% end %>
