<%= render "layouts/errors", :object => @message %>


<%= simple_form_for @message do |f| %>

  <div class="form-inputs form-group">
    <%= f.input :to %>
    <%= f.input :to, collection: @contacts, as: :select, method: :name %>
    <%= f.input :from, input_html: {value: "5412482591"} %>
    <%= f.input :body, as: :text, class: "form-control" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Send Cat Fact" %>
  </div>
<% end %>
