<%= simple_form_for @contact do |f| %>
    <%= f.error_notification %>
    <% if @contact.errors.any? %>
      <% @contact.errors.full_messages.each do |m| %>
      <div class='alert alert-danger'>
        <p><%= m %></p>
      </div>
      <% end %>
    <% end %>
  <div class="form-inputs form-group">
    <%= f.input :name %>
    <%= f.input :phonenumber %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Save Catact" %>
  </div>
<% end %>
